header{
	background-color: #1f6709;
	color: #f5f5f5;
	padding: 10px;
	font-size: 15px;
}

header a{
	color: white;
}

header a:hover{
	color: red;
	text-decoration: none;
}

footer{
	background-color: #DDDDDD;
}

.sidebar{
	min-height: 450px;
	font-size: 20px;
	padding-top: 10px;
}

.sidebar li{
	color: #424242;
}

.sidebar li:hover{
	cursor: default;
}

.sidebar a{
	color: #424242;
}

.nav-pills li a:hover{
	background-color: #b2daa6;
	color: #424242;
}

.content{
	min-height: 450px;
}

.right{
	float: right;
}

.barra-pesquisa{
	margin: 10px;
	margin-left: 0px;
	padding: 0px;
}

.table-more-info:hover{
	cursor: pointer;
}

.table-line span{
	color: #9FA3A6;
}

.table-line span:hover{
	color: #636b6f;
}

.hidden-info{
	display: none;
}

.hidden-info:hover{
	cursor: default;
}

.table-responsive{
	padding: 0px;
}

.horarios-turno{
	margin-top: 10px;
}

/* Bootstrap Override */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{ /* Opção do Menu */
	background-color: #43a047;
}


/*Cadastro de Turnos*/
.add-field{
	margin-top: 10px;
	margin-bottom: 10px;
}

.horarios-turno .row label{
	padding-top: 4px;
}