html {
	position: relative;
	min-height: 100%;
}

footer {
	display:none;
	position: absolute;
	left: 0;
	bottom: 0;
	height: auto;
	width: 100%;
	background-color: #EAEAEA;
	padding-top: 10px;
}

body{
    font-family: 'Roboto Mono', monospace;
}

.container-fluid {
	min-width: 500px;
	padding: 0 15px;
}


.usuario{
	padding:5px 10px !important;
	font-weight: bold;
}

.usuario:hover, .usuario:active, .usuario:visited, .usuario{
	color: #33691e !important;
}

header{
	background-color: #43a047;
	color: #f5f5f5;
	padding: 10px;
	font-size: 15px;
}

header .img-responsive{
	width: 250px;
}

header a {
	color: white;
	font-size: 14px;
}

header a:hover{
	color: white;
	text-decoration: none;
}

.ifsp-logo{
	max-width: 210px;
}

.webhorario-logo{
	max-width: 50px;
	margin-right: 10px;
}

.saudacao{
	background-color: #b2daa6;
}

.sidebar{
	background-color: #EAEAEA;
	padding: 4px 4px;
	border-radius: 0 5px 5px 0;
	margin: 3px 0;
}

.sidebar li{
	color: #424242;
}

.sidebar li:hover{
	cursor: default;
}

.sidebar a{
	color: #424242;
	white-space: nowrap;
}

.nav-pills li a:hover{
	background-color: #b2daa6;
	color: #424242;
}

#content{
	margin-bottom: 10px;
}

.top-bar{
	margin-top: 20px;
}

/*INDEX*/
.table-more-info{
	color: #9FA3A6;
}

.table-more-info:hover{
	cursor: pointer;
	color: #636b6f;
}

.table-line .table-delete{
	color: #F47878;
}

.table-delete:hover{
	color:#FF1313;
}

.hidden-info{
	display: none;
}

.hidden-info:hover{
	cursor: default;
}

.hidden-info-content{
	border-left: solid 3px #D3D3D3;
	margin-left: 10px;
	padding-left: 10px;
}

.table-responsive{
	padding: 0px;
	border:0;
}

.alert{
	margin: 5px 0px 0px 0px;
}

/* Bootstrap Override */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{ /* Opção do Menu */
	background-color: #43a047;
}

.btn-success{
	background-color: #43a047;
}

.close{
	opacity: .5;
}

.close:hover{
	opacity: .7;
}

/*Forms*/
.add-field{
	margin-top: 10px;
	margin-bottom: 10px;
}

.horarios-turno{
	margin-top: 10px;
}

.horarios-turno .row .col-lg-1{
	padding-top: 4px;
}

.right{
	float: right;
}

form{
	margin-top: 10px;
}

.cancelar{
	margin-right: 10px;
}

/* Reparos em componente Bootstrap */
.padding-left-0{
	padding-left: 0;
}

.padding-right-0{
	padding-right: 0;
}

