header{
	background-color: #1f6709;
	color: #f5f5f5;
	padding: 10px;
	font-size: 15px;
}

header a{
	color: white;
}

header a:hover{
	color: red;
	text-decoration: none;
}

footer{
	background-color: #b2daa6;
	color: #f5f5f5;
}

.sidebar{
	background-color: #424242;
	min-height: 450px;
	font-size: 20px;
	padding-top: 10px;
}

.sidebar li{
	color: #bbbdbd;
}

.sidebar a{
	color: #bbbdbd;
}

.sidebar a:hover{
	/*color: #b2daa6;*/
}

.nav-pills li a:hover{
	background-color: #b2daa6;
	color: #424242;
}

.nav-pills li a:active{
	background-color: #b2daa6;
}

.content{
	min-height: 450px;
}

.right{
	float: right;
}

.btn{
	margin: 10px;
}