html {
	position: relative;
	min-height: 100%;
}

footer {
	display:none;
	position: absolute;
	left: 0;
	bottom: 0;
	height: auto;
	width: 100%;
	background-color: #EAEAEA;
	padding-top: 10px;
}

body{
    font-family: 'Roboto Mono', monospace;
}

.container-fluid {
	min-width: 500px;
	padding: 0 15px;
}


.usuario{
	padding:5px 10px !important;
	font-weight: bold;
}

.usuario:hover, .usuario:active, .usuario:visited, .usuario{
	color: #33691e !important;
}

header{
	background-color: #43a047;
	color: #f5f5f5;
	padding: 10px;
	font-size: 15px;
}

header .img-responsive{
	width: 250px;
}

header a {
	color: white;
	font-size: 14px;
}

header a:hover{
	color: white;
	text-decoration: none;
}

.ifsp-logo{
	max-width: 210px;
}

.webhorario-logo{
	max-width: 50px;
	margin-right: 10px;
}

.saudacao{
	background-color: #b2daa6;
}

.sidebar{
	background-color: #EAEAEA;
	padding: 4px 4px;
	border-radius: 0 5px 5px 0;
	margin: 3px 0;
}

.sidebar li{
	color: #424242;
}

.sidebar li:hover{
	cursor: default;
}

.sidebar a{
	color: #424242;
	white-space: nowrap;
}

.nav-pills li a:hover{
	background-color: #b2daa6;
	color: #424242;
}

#content{
	margin-bottom: 10px;
}

.top-bar{
	margin-top: 20px;
}

/*INDEX*/
.table-more-info{
	color: #9FA3A6;
}

.table-more-info:hover{
	cursor: pointer;
	color: #636b6f;
}

.table-line .table-delete{
	color: #F47878;
}

.table-delete:hover{
	color:#FF1313;
}

.hidden-info{
	display: none;
}

.hidden-info:hover{
	cursor: default;
}

.hidden-info-content{
	border-left: solid 3px #D3D3D3;
	margin-left: 10px;
	padding-left: 10px;
}

.hidden-info-content-data-curso{
	border-color: #adadad;
	cursor: default;
	margin-bottom: 3px;
	width: 24%;
}

.hidden-info-content-data-turno {
	border-color: #adadad;
	cursor: default;
	padding: 2px;
	margin: 5px;
}

.hidden-info-content-data-turno p{
	margin-bottom: 1px;
}

.horario-indice{
	padding-top: 7%;
}

.hidden-info-content-data-semestre{
	cursor: default;
	float: left;
	padding: 2px;
	width: 49%;
	margin-bottom: 3px;
	margin-right: 3px;
	box-sizing: border-box;
	border: 1px solid #adadad;
	border-radius: 4px;	
	min-height: 130px;
}

.curso-semestre-indice{
	border-bottom: 2px solid #adadad;
	padding-top: 10px;
	margin-bottom: 5px;
}

.table-responsive{
	padding: 0px;
	border:0;
}

.alert{
	margin: 5px 0px 0px 0px;
}

/* Bootstrap Override */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{ /* Opção do Menu */
	background-color: #43a047;
}

.btn-success{
	background-color: #43a047;
}

.close{
	opacity: .5;
}

.close:hover{
	opacity: .7;
}

/*Forms*/
.add-field{
	margin-top: 10px;
	margin-bottom: 10px;
}

.horarios-turno{
	margin-top: 10px;
}

.horarios-turno .row .col-lg-1{
	padding-top: 4px;
}

.right{
	float: right;
}

form{
	margin-top: 10px;
}

.cancelar{
	margin-right: 10px;
}

/* Reparos em componente Bootstrap */
.padding-left-0{
	padding-left: 0;
}

.padding-right-0{
	padding-right: 0;
}

.padding-0{
	padding: 0;
}

/* Overrrides multiselect */
.ms-container .ms-list{
	height: 150px;
}

.nav-tabs{
	overflow-x: auto;
	overflow-y: hidden;
	display: -webkit-box;
	display: -moz-box;
}

.nav-tabs>li{
	float: none;
}

.nav-tabs>li>a{
	padding: 10px 10px;
}

::-webkit-scrollbar{
	height: 9px;
	width: 9px;
}

::-webkit-scrollbar-thumb{
	-webkit-border-radius: 1px;
	border-radius: 1px;
	background: #D6D5D4;
}

/*atribuição disciplinas*/
.atrb-semestre{
	margin-top: 15px;
}

.atrb-disciplina{
	border: 3px solid #adadad;
	width: 49%;
	padding: 5px;
	float: left;
	margin-right: 5px;
	margin-bottom: 3px;
	box-sizing: border-box;
	border-radius: 4px;	
}

.atrb-conflito{
	border-color: #f0ad4e;
}

.atrb-vazio{
	border-color: #d43f3a;
}