.container-fluid {
	min-width: 500px;
}

header{
	background-color: #43a047;
	color: #f5f5f5;
	padding: 10px;
	font-size: 15px;
}

header a{
	color: white;
}

header a:hover{
	color: red;
	text-decoration: none;
}

header .img-responsive{
	width: 300px;
}

.saudacao{
	background-color: #b2daa6;
	padding: 5px 10px 5px 0;
	color: white;
	font-weight: bold;
}

.saudacao p{
	margin:0;
}

.glyphicon-off{
	color: #ff0000;
	margin-left:5px;
}

footer{
	background-color: #EAEAEA;
	padding: 10px;
}

.sidebar{
	min-height: 500px;
	padding-top: 10px;
	background-color: #EAEAEA;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 2px;
	padding-right: 2px;
}

.sidebar li{
	color: #424242;
}

.sidebar li:hover{
	cursor: default;
}

.sidebar a{
	color: #424242;
}

.nav-pills li a:hover{
	background-color: #b2daa6;
	color: #424242;
}

.content{
	margin-bottom: 10px;
	min-height: 450px;
}

.top-bar{
	margin-top: 20px;
}

.table-more-info{
	color: #9FA3A6;
}

.table-more-info:hover{
	cursor: pointer;
	color: #636b6f;
}

.table-line .table-delete{
	color: #F47878;
}

.table-delete:hover{
	color:#FF1313;
}

.hidden-info{
	display: none;
}

.hidden-info:hover{
	cursor: default;
}

.hidden-info-content{
	border-left: solid 3px #D3D3D3;
	margin-left: 10px;
	padding-left: 10px;
}

.table-responsive{
	padding: 0px;
	border:0;
}

/* Bootstrap Override */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{ /* Opção do Menu */
	background-color: #43a047;
}

.btn-success{
	background-color: #43a047;
}

/*Cadastro de Turnos*/
.add-field{
	margin-top: 10px;
	margin-bottom: 10px;
}

.horarios-turno{
	margin-top: 10px;
}

.horarios-turno .row .col-lg-1{
	padding-top: 4px;
}

/* Reparos em componente Bootstrap */
.padding-left-0{
	padding-left: 0;
}

.padding-right-0{
	padding-right: 0;
}